@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.Team4 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.Team4 h1,
.Team4 h2,
.Team4 h3,
.Team4 h4,
.Team4 h5,
.Team4 h6 {
  color: #3e4555;
}

.Team4 .font-weight-medium {
  font-weight: 500;
}

.Team4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.Team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
}
.footer {
    
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    margin-left: 890px;
    
}
.footer span a{
    background-color: white;
    color: black;
    border-color: black;
}

